<html>
  <head>
    
    <link rel='stylesheet' href="/stylesheets/unsemantic-grid-responsive.css" />
    <link rel='stylesheet' href="/stylesheets/site.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/site.js"></script>
    
  </head>
  <body>
    
  <div class='page_stretch'>
    <div class='page_header'>
      <h1>heeep.it</h1>
      <p>Bundle your JavaScript and CSS using one line of code.</p>
      <div class='proofOfConcept'>
        <i class="icon-warning-sign icon icon-muted"></i>
		This is a concept, not an active project.
		I'd love to <a style='color:#FFF;' href="http://twitter.com/bendytree">hear your thoughts</a>.
	  </div>
    </div>
    <div class='hr'></div>
    <div class='page_links grid-parent'>
      <a class='mobile-grid-100' href="/">OVERVIEW</a>
      <a class='mobile-grid-100' href="getting-started">GETTING STARTED</a>
      <a class='mobile-grid-100' href="packages">PACKAGES</a>
      <a class='mobile-grid-100' href="faq">F.A.Q.</a>
      <a class='mobile-grid-100' href="http://github.com">GitHub &#8620;</a>
      <a class='mobile-grid-100' href="http://twitter.com/bendytree">Twitter &#8620;</a>
    </div>
    <div class='hr'></div>
    <div class='page_body grid-parent'>
    
      <%- body %>
      
      <div class='clear'></div>
      
    </div>
    
    <div class='hr'></div> 
     
    <div class='page_footer grid-parent'>
      <div class='grid-100 mobile-grid-100'>
        Heeep.it is by <a href='http://twitter.com/bendytree'>Josh Wright</a>.
      </div>
    </div>
    
  </div>
    
  <div class='clear'></div>
  

    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  
  </body>
</html>


